AT_API_SERVICE_KEY=replace_with_your_service_key
AT_API_BASE_URL=https://apis.data.go.kr/B552845/perDay

DB_HOST=postgres
DB_PORT=5432
DB_NAME=pricewatch
DB_USER=pricewatch
DB_PASSWORD=pricewatch_local_password

PRICE_ALERT_THRESHOLD=20.0
